
.films{
    padding-top:85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    min-height: 100%;
    background-attachment: fixed;
    padding-bottom: 20px;
    *{
        z-index: 2;
    }
    h1,h3{
        margin-top:10px;
        color: #fff ;
    }
    .filmCard{
        transition: 0.4s all ease-in-out;
        &:hover{
            transform: scale(1.05,1.05);
        }
    }
    .overlay{
        position: fixed;
        background-color: #000;
        height: auto;
        min-height: 100%;
        width: 100%;
        opacity: 80%;
        z-index: 1;
        top:0%;
    }
    .btnDiv{
        display:flex;
        justify-content: center;
        
    .createFilmBtn{
        display: block;
        width: 120px; 
        height: 40px;
        line-height: 40px;
        background-color: royalblue;
        border:none;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        text-align: center;
        &:hover{
            transform: scale(1.1,1.1);
        }
    }
   
}
.pageNav{
    display: flex;
    justify-content: center;
    margin: 20px;
    .pagination{
        width: auto;
        margin: auto;
    }
}

.page-item{
    a{
        background-color: dodgerblue !important;
        color: white;
        transition: all 0.4s ease-in-out;
        border:none;
        margin: 0px 3px;
        &:hover{
            transform:scale(1.05,1.05);
        }
    }
    
}


}